.register-container {
  height: 100vh; /* 화면 높이에 맞추기 위한 설정 */
  background-color: hsl(210, 29%, 97%);
}

.register-title {
  display: flex;
  justify-content: center; /* 가로 정중앙 정렬 */
  align-items: center; /* 세로 정중앙 정렬 */
  font-size: 30px;
  font-weight: bold;
  height: 15vh; /* 화면 높이에 맞추기 위한 설정 */
}

.register-form-container {
  text-align: center;
  
  input {
    display: inline;
    text-align: center; //글 위치
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 230px;
    margin: 10px auto;   
  }

  .auth-btn {
    
    padding: 5px; /* 버튼 내부 여백 설정 */
    font-size: 15px; /* 버튼 글자 크기 설정 */
    background-color: #393838; /* 버튼 배경색 */
    color: #fff; /* 버튼 글자색 */
    border: none; /* 테두리 없음 */
    border-radius: 5px; /* 버튼 둥글기 설정 */
    cursor: pointer;
    width: 50px;
    transition: background-color 0.3s, color 0.3s; /* 애니메이션 효과 */
  }

  #password {
    margin: 10px auto;
    width: 230px; /* 너비를 100%로 설정하여 옆으로 오는 것을 방지 */
  }

  .errors {
    display: block;
    color: red;
  }


  .register-btn {
    padding: 10px 20px; /* 버튼 내부 여백 설정 */
    font-size: 16px; /* 버튼 글자 크기 설정 */
    background-color: #000000; /* 버튼 배경색 */
    color: #fff; /* 버튼 글자색 */
    border: none; /* 테두리 없음 */
    border-radius: 5px; /* 버튼 둥글기 설정 */
    cursor: pointer;
    width: 230px;
    transition: background-color 0.3s, color 0.3s; /* 애니메이션 효과 */
  }

  .register-btn:hover {
    background-color: #454545; /* 마우스 호버 시 배경색 변경 */
  }
}

