@media (min-width: 1200px){
    .alarmItem-item{
        width:380px;
        padding:5px;
        margin-bottom: 5px;
        border-radius: 10px;
        & > div{
            & > :nth-child(1){
                width:150px;
                :nth-child(1){
                    transform: translate(0px, -8px);
                    font-size:20px;
                }
                :nth-child(2){
                    font-size:45px;
                }
            }
            & > :nth-child(2){
                width:150px;
            }
            & > :nth-child(3){
                & > p{
                    margin-left: 10px;
                    font-size:16px;
                }
            }
        }
        & > div:first-child{
            .alarmItem-circle{
                width: 10px;
                height: 10px;
            }
        }
    }
}

.alarmItem-item{
    cursor: pointer;
    background-color: #171717;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        margin:0px;
        padding:0px;
    }
    & > div{
        display: flex;
        align-items: center;
        & > :nth-child(1){
            display:flex;
            :nth-child(1){
                margin-top:auto;
            }
            :nth-child(2){
                margin-top:auto;
            }
        }
        & > :nth-child(2){
            display:flex;
            flex-direction: column;
            align-items: center;
        }
        & > :nth-child(3){
            display:flex;
            align-items: center;
            .alarmItem-active {
                color:#ff893b;
            }
        }
    }
    & > div:first-child{
        width:100%;
        align-items: end;
        .alarmItem-circle{
            margin-left:auto;
            border-radius: 50%;
            background: #65EC12;
        }
    }
}