//미디어 쿼리 적용 예정

//desktop (1920/1080~ )

.auth-nav-container {
  position: absolute;
  bottom: 100px;
  display: flex;
  flex-direction: column;

  .login-nav, .register-nav {
    width: 427px;
    height: 90px;
    border-radius: 13px;
    background: #171717;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    flex-shrink: 0;
  }

  .register-nav {
    margin-top: 20px;
  }
}
