.login-layout-container {
  position: absolute;
  top: 46px;
  left: 67px;
  .login-back-btn {
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .login-title {
    position: fixed;
    top: 46px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
}
